In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [3]:
path = 'drive/MyDrive/meme'

In [4]:
event = pd.read_csv(path+'/danila_event.csv')

In [7]:
meme = pd.read_csv(path+'/danila_meme.csv')
user = pd.read_csv(path+'/danila_user.csv')

In [9]:
meme.head()

   meme_id meme_type  ...  caption_lang language_id
0    28997     photo  ...            en         3.0
1    10873     photo  ...            ww         2.0
2     9874     photo  ...            en         3.0
3    43458     photo  ...            ww         2.0
4     9000     photo  ...            en         3.0

[5 rows x 15 columns]

In [10]:
user.head()

      user_id            deep_link  ...  interface_lang  gender
0   820326025     anime0ch_lang_ru  ...              ru       M
1  1040875164  likemeupbot_lang_en  ...              en     NaN
2   449432539         debil_ebaniy  ...              ru       F
3   230248850                  NaN  ...              ru       M
4     7719424                  NaN  ...              ru       M

[5 rows x 12 columns]

In [11]:
event.head()

   event_id  reaction_id  ...  meme_id    user_id
0   3607617          2.0  ...    24379  280747086
1   3608100          1.0  ...    49173  285739883
2   3607629          1.0  ...     8340  280747086
3   3607649          NaN  ...    64748   78991522
4   3608045          2.0  ...    45163  860086058

[5 rows x 8 columns]

In [12]:
# Создать рекомендательную систему для каждого пользователя

In [18]:
#meme['is_broken'].value_counts()

meme = meme[meme['is_broken'] == False]

In [19]:
meme

       meme_id meme_type  ...  caption_lang language_id
0        28997     photo  ...            en         3.0
1        10873     photo  ...            ww         2.0
2         9874     photo  ...            en         3.0
3        43458     photo  ...            ww         2.0
4         9000     photo  ...            en         3.0
...        ...       ...  ...           ...         ...
61851    29440     photo  ...            en         3.0
61852    50912     photo  ...            ww         2.0
61853    22646     photo  ...            ww         3.0
61854    49822     photo  ...            ww         2.0
61855    21074     photo  ...            en         3.0

[61516 rows x 15 columns]

In [21]:
user['is_banned'].value_counts()

False    19918
Name: is_banned, dtype: int64

In [25]:
# Проверить гипотезу: англ пользователи более активные чем русские
# лайки
# дизлайки
# отношение L/D
# Диаграмма (рус в среднем и eng в среднем)

In [26]:
user['interface_lang'].value_counts()

ru    14156
en     5714
Name: interface_lang, dtype: int64

In [63]:
reactions = event.groupby('user_id').count()['event_id']
reactions

user_id
1615           47
3859          193
12199           3
13934           6
14229          15
             ...
1399229617      1
1399329801      1
1399419434     11
1399511615      2
1399599499      9
Name: event_id, Length: 19699, dtype: int64

In [64]:
# 1 - лайк
# 2 - дизлайк
likes = event[event['reaction_id'] == 1].groupby('user_id').count()['event_id']
#likes.rename(columns = {'event_id':'likes'})
likes

user_id
1615           25
3859          106
13934           1
14229           2
16060          14
             ...
1398188580      5
1398529159     12
1398799657      6
1399419434      6
1399599499      8
Name: event_id, Length: 16633, dtype: int64

In [65]:
dislikes =  event[event['reaction_id'] == 2].groupby('user_id').count()['event_id']
dislikes

user_id
1615           11
3859           83
14229          10
16060         111
20535          10
             ...
1397824939      2
1397992921      5
1397993276      3
1398022998     14
1398799657      1
Name: event_id, Length: 15881, dtype: int64

In [55]:
event_reactions = pd.DataFrame([likes['reaction_id'].values,dislikes['reaction_id'].values, reactions['reaction_id'].values]).transpose()
event_reactions.rename(columns = {0:'likes', 1:'dislikes', 2:'reactions'}, inplace = True)

In [58]:
event_reactions.index = reactions.index
event_reactions

            likes  dislikes  reactions
user_id
1615         25.0      11.0       46.0
3859        106.0      83.0      190.0
12199         1.0      10.0        2.0
13934         2.0     111.0        5.0
14229        14.0      10.0       14.0
...           ...       ...        ...
1399229617    NaN       NaN        0.0
1399329801    NaN       NaN        0.0
1399419434    NaN       NaN       10.0
1399511615    NaN       NaN        1.0
1399599499    NaN       NaN        8.0

[19699 rows x 3 columns]

In [69]:
likes_users_ids = likes.index
likes_users_ids

Int64Index([      1615,       3859,      13934,      14229,      16060,
                 20535,      28327,      30767,      37459,      39129,
            ...
            1397540701, 1397824939, 1397992921, 1397993276, 1398022998,
            1398188580, 1398529159, 1398799657, 1399419434, 1399599499],
           dtype='int64', name='user_id', length=16633)

In [76]:
users_likes = user[user.user_id.isin(likes_users_ids)].set_index('user_id')['interface_lang'].copy()
users_likes

user_id
820326025     ru
1040875164    en
449432539     ru
1008072970    en
8239465       ru
              ..
125474047     ru
608727447     ru
1254871249    ru
184147840     ru
761418142     ru
Name: interface_lang, Length: 16633, dtype: object

In [84]:
detailed_likes =  pd.DataFrame([users_likes, likes]).transpose()
grouped_det_likes = detailed_likes.groupby('interface_lang').count()
grouped_det_likes

                event_id
interface_lang
en                  4546
ru                 12087

In [86]:
import plotly.express as px
fig = px.bar(grouped_det_likes, x = grouped_det_likes.index, y = 'event_id')
fig.show()

In [87]:
# Для дизлайков и всех реакций (ДЗ)

In [88]:
# Для каждого source соотношение лайков дизлайков

In [91]:
memes_grouped = meme[['source_id', 'likes', 'dislikes']]
memes_grouped_sum = memes_grouped.groupby('source_id').sum()
memes_grouped_sum['l\\d'] = memes_grouped_sum['likes'] / memes_grouped_sum['dislikes']
memes_grouped_sum

           likes  dislikes       l\d
source_id
1.0          141       447  0.315436
2.0         8753     11876  0.737033
3.0        17852     19303  0.924830
4.0        17265     27841  0.620129
5.0        11334     15323  0.739672
...          ...       ...       ...
155.0        172       463  0.371490
156.0        741      1331  0.556724
157.0        823      1532  0.537206
158.0        387       592  0.653716
159.0         24       110  0.218182

[142 rows x 3 columns]

# ДЗ
- Построить гипотезы (2-3 штуки)
- Датасет + модель (какой мем какому пользователю зайдет)
- Реком система в цикле(как вариант) будет смотреть каждый мем и классифицировать на 1 или 0
- Презентация