In [1]:
import pandas as pd
import json

In [11]:
with open('data_file_it.json') as f:
    data = json.load(f)

In [10]:
data[0]['education'][1]['name']

'Московский государственный университет им. М.В. Ломоносова, Москва'

In [13]:
data[0]

{'area': 'Москва',
 'birth_date': '23\xa0августа\xa01994',
 'education': [{'name': 'Московский государственный университет им. М.В. Ломоносова, Москва',
   'organization': 'Физический, Нелинейная оптика и лазерная физика',
   'year': 2018},
  {'name': 'Московский государственный университет им. М.В. Ломоносова, Москва',
   'organization': 'Физический, Физика',
   'year': 2016}],
 'education_level': 'Высшее образование (Магистр)',
 'experience': [{'description': 'Обязанности: Разработка программ и библиотек, обеспечивающих работу видео-стриминговых и транскодирующих приложений, дальнейшее их тестирование и отладка. Осуществление сопровождения внедренных программ и программных средств\n\nОсновные инструменты: C/C++, Python, Bash, FFmpeg, Git\n\nДостижения: Реализовал и внедрил в действующее ПО технологию адаптивной потоковой передачи данных (DASH)',
   'end': '01-09-2020',
   'position': 'Программист C/С++',
   'start': '01-03-2018'}],
 'gender': 'Мужчина',
 'language': [{'level': 'Родной', 'name': 'Русский'},
  {'level': 'B1 - Средний', 'name': 'Английский'}],
 'salary': {'amount': 120000, 'currency': 'руб.'},
 'skill_set': ['Машинное обучение',
  'Data Mining',
  'Data Analysis',
  'C/C++',
  'Python',
  'Git',
  'Linux',
  'SQL',
  'Bash',
  'Pandas',
  'Numpy',
  'Vkontakte Api',
  'LabVIEW',
  'MATLAB',
  'PyTorch'],
 'skills': 'Ответственное отношение к учебе\\работе.  \nОкончил школу с золотой медалью, бакалавриат и магистратуру физического факультета МГУ им. М. В. Ломоносова с красными дипломами. Во время учебы занимался автоматизацией измерений в лаборатории оптоакустики, с использованием LabView, C++.\n\nУспешно закончил курс "Введение в машинное обучение" от Техносферы  Mail.ru, занял первое место в курсовом проекте - рекомендательная система сообществ соц. сети Вконтакте.\n\nВ данный момент учусь на основной программе Техносферы "Анализ больших объемов данных", успешно закончил первый семестр - первое место по курсовому проекту: https://www.kaggle.com/c/anomaly-detection-competition-ml1-ts-spring-2020/leaderboard\n\nУмею работать в команде, проекты Техносферы были командными, координировал действия двух своих коллег.\nСтремлюсь к развитию, считаю, что постоянно надо развиваться и пробовать новое. Работая разработчиком C++, заинтересовался машинным обучением, легко совмещал работу и изучение новой сферы.',
 'specialization': [{'name': 'Программирование, Разработка',
   'profarea_name': 'Информационные технологии, интернет, телеком'},
  {'name': 'Аналитик',
   'profarea_name': 'Информационные технологии, интернет, телеком'}],
 'title': 'Специалист по машинному обучению'}

In [56]:
gender = []
area = []
spec_name = []
title = []
salary =[]
edu = []
exp =[]
skill_set = []
skills = []

for resume in data:
  gender.append(resume['gender'])
  area.append(resume['area'])
  title.append(resume['title'])
  salary.append(resume['salary']['amount'])
  edu.append(resume['education_level'])
  skill_set.append(resume['skill_set'])
  skills.append(resume['skills'])

  exp_temp = []
  for i in range(len(resume['experience'])):
    exp_temp.append(resume['experience'][i]['position'])
  exp.append(exp_temp)

  spec_temp = []
  for i in range(len(resume['specialization'])):
    spec_temp.append(resume['specialization'][i]['name'])
  spec_name.append(spec_temp)

In [57]:
import random as rd

prior = []
for i in range(len(data)):
  prior.append(rd.randint(0,1))

In [58]:
df = pd.DataFrame([gender, area, title, salary, edu, skill_set, skills, exp, spec_name, prior]).transpose()

In [59]:
df.head()

         0  ...  9
0  Мужчина  ...  1
1  Мужчина  ...  0
2  Мужчина  ...  0
3  Мужчина  ...  1
4  Женщина  ...  1

[5 rows x 10 columns]

In [60]:
#gender, area, title, salary, edu, skill_set, skills, exp, spec_name, prior
df.rename(columns={0:'gender', 1:'area', 2:'title', 3:'salary',
                   4: 'education', 5:'skill_set', 6: 'skills', 7:'exp', 8:'spec_name', 9:'prior'
                    }, inplace = True)

# Очистка данных (ДЗ)

In [61]:
df['education'].value_counts()

Высшее образование                    198
Неоконченное высшее образование        51
Высшее образование (Магистр)           36
Среднее специальное образование        34
Высшее образование (Бакалавр)          34
Образование                            16
Higher education                        5
Среднее образование                     4
Higher education (bachelor)             4
Высшее образование (Кандидат наук)      3
Secondary special education             2
Education                               2
Secondary education                     1
Name: education, dtype: int64

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 390 entries, 0 to 389
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   gender     390 non-null    object
 1   area       390 non-null    object
 2   title      390 non-null    object
 3   salary     198 non-null    object
 4   education  390 non-null    object
 5   skill_set  390 non-null    object
 6   skills     390 non-null    object
 7   exp        390 non-null    object
 8   spec_name  390 non-null    object
 9   prior      390 non-null    object
dtypes: object(10)
memory usage: 30.6+ KB

In [63]:
df.dropna().info() # NANов нет

<class 'pandas.core.frame.DataFrame'>
Int64Index: 198 entries, 0 to 389
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   gender     198 non-null    object
 1   area       198 non-null    object
 2   title      198 non-null    object
 3   salary     198 non-null    object
 4   education  198 non-null    object
 5   skill_set  198 non-null    object
 6   skills     198 non-null    object
 7   exp        198 non-null    object
 8   spec_name  198 non-null    object
 9   prior      198 non-null    object
dtypes: object(10)
memory usage: 17.0+ KB

In [64]:
df.loc[df.education ==' Higher education', 'education'] = ' Высшее образование' # берем поле education, где education = Higher education

In [65]:
df['area'].value_counts()

Москва             148
Санкт-Петербург     64
Краснодар           14
Екатеринбург         8
Челябинск            8
                  ...
Орел                 1
Петрозаводск         1
Татарск              1
Павлодар             1
Ставрополь           1
Name: area, Length: 90, dtype: int64

In [66]:
df['gender'].value_counts()

Мужчина    347
Женщина     29
Male        12
Female       2
Name: gender, dtype: int64

In [67]:
df.loc[df.gender =='Male', 'gender'] = 'Мужчина'
df.loc[df.gender =='Female', 'gender'] = 'Женщина'

In [68]:
df['gender'].value_counts()

Мужчина    359
Женщина     31
Name: gender, dtype: int64

In [69]:
df = df.join(pd.get_dummies(df['gender']))

In [70]:
df.drop('gender', axis = 1, inplace = True)

In [71]:
areas = list(df['area'].unique())
#df['area'].unique()
#df['area'].value_counts()
#df['area'].value_counts().index
for i in range(len(areas)):
  df.loc[df['area']==areas[i], 'area'] = i

In [72]:
titles = list(df['title'].unique())
for i in range(len(titles)):
  df.loc[df['title']==titles[i], 'title'] = i

In [73]:
edus = list(df['education'].unique())
for i in range(len(edus)):
  df.loc[df['education']==edus[i], 'education'] = i

In [74]:
df.head()

  area title  salary  ... prior Женщина Мужчина
0    0     0  120000  ...     1       0       1
1    0     1    None  ...     0       0       1
2    1     2    None  ...     0       0       1
3    1     3    None  ...     1       0       1
4    1     4   30000  ...     1       1       0

[5 rows x 11 columns]

In [75]:
df['spec_name'].value_counts() # данные ненужные

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'list'

[Программирование, Разработка]                                                    89
[Программирование, Разработка, Web инженер, Web мастер]                           43
[Программирование, Разработка, Инженер]                                           39
[Игровое ПО, Программирование, Разработка]                                        11
[Программирование, Разработка, Аналитик]                                          10
                                                                                  ..
[Программирование, Разработка, Web мастер, Стартапы]                               1
[Программирование, Разработка, Web инженер, Аналитик]                              1
[Программирование, Разработка, Системная интеграция, Системный администратор]      1
[Программирование, Разработка, Компьютерная безопасность, Поддержка, Helpdesk]     1
[Software Development, Project Management]                                         1
Name: spec_name, Length: 116, dtype: int64

In [76]:
df.drop('spec_name', axis = 1, inplace = True)

In [77]:
df.head(1)

  area title  salary education  ...                  exp prior Женщина Мужчина
0    0     0  120000         0  ...  [Программист C/С++]     1       0       1

[1 rows x 10 columns]

In [79]:
df['skill_set']

0      [Машинное обучение, Data Mining, Data Analysis...
1      [HTML, CSS, React-Native, JS6, Git, FireBase, ...
2      [HTML, CSS, PHP, Сборка ПК, Настройка ПК, MySQ...
3      [C#, Unity, Godot, SQL, MySQL, Git, .NET Frame...
4      [HTML5, CSS3, JavaScript, jQuery, CSS, Git, HT...
                             ...
385    [Пользователь ПК, MS Office, Работа в команде,...
386    [Unix, Администрирование серверов Linux, Unix ...
387    [Python, C/C++, Qt, MySQL, pytorch, OpenCV, Ma...
388    [1C: Бухгалтерия, MS SharePoint, Symantec Anti...
389                                                   []
Name: skill_set, Length: 390, dtype: object

In [82]:
import numpy as np
#поиск по скиллам
def skill_search(col, skills):
  """
  Функция для поиска ключевых слов в резюме
  """
  for skill in skills:
    df[skill] = 0 # создание столбца с названием skill 
    skilled_ids = df[col].apply(lambda x: x if skill in str(x).lower() 
                                else np.nan).dropna().index # все айди людей с этим скиллом
    df.loc[df.index.isin(skilled_ids), skill] = 1 # если индекс равен ид из skilled_ids, в столбце skill получают 1

In [83]:
skills_for_candidates = ['английский']
col = 'skills'
skill_search(col, skills_for_candidates)

In [87]:
exp = ['программист c', '++', 'react']
col = 'exp'
skill_search(col, exp)

In [88]:
df.head(1)

  area title  salary education  ... программист с ++ react программист c
0    0     0  120000         0  ...             0  1     0             1

[1 rows x 15 columns]

In [89]:
skills = ['машинное обучение', 'sql', 'data mining']
col = 'skill_set'
skill_search(col, skills)

In [91]:
df.drop(['skill_set', 'skills', 'exp', 'программист с'], axis = 1, inplace = True)

In [92]:
df.fillna(0,inplace = True)

In [93]:
x = df.drop('prior', axis = 1)
y = df['prior']

In [94]:
from sklearn.model_selection import train_test_split

x_tr, x_ts, y_tr, y_ts = train_test_split(x, y, test_size = .3, random_state =1)

In [95]:
from sklearn.ensemble import RandomForestClassifier

rfc = RandomForestClassifier()
rfc.fit(x_tr, y_tr)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [101]:
proba = pd.DataFrame(rfc.predict_proba(x_ts))[1]
#predict выводил либо 0, либо 1, predict_proba выводит вероятность для каждого пройти или не пройти

In [103]:
rfc.predict(x_ts)

array([0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 1])

In [104]:
proba[:20]

0     0.47
1     0.28
2     0.24
3     0.74
4     0.42
5     0.56
6     0.73
7     0.87
8     0.76
9     0.71
10    0.82
11    0.40
12    0.76
13    0.57
14    0.49
15    0.29
16    0.28
17    0.60
18    0.67
19    0.62
Name: 1, dtype: float64

In [105]:
from sklearn.metrics import accuracy_score # количество попаданий

accuracy_score(rfc.predict(x_ts), y_ts) # 50% потому что prior расставлен рандомно

0.4700854700854701