In [1]:
import pandas as pd
import numpy as np

In [4]:
path = 'drive/MyDrive/DS/movies/'

In [8]:
df = pd.read_csv(path+'movies.csv', index_col=0)
df

                          Title  ...                                        Description
Rank                             ...
1      The Shawshank Redemption  ...  Two imprisoned men bond over a number of years...
2               The Dark Knight  ...  When the menace known as the Joker emerges fro...
3                     Inception  ...  A thief who steals corporate secrets through t...
4                    Fight Club  ...  An insomniac office worker and a devil-may-car...
5                  Pulp Fiction  ...  The lives of two mob hitmen, a boxer, a gangst...
...                         ...  ...                                                ...
9996      When Night Is Falling  ...  An uptight and conservative woman, working on ...
9997                    Stachka  ...  A group of oppressed factory workers go on str...
9998         November Criminals  ...  After his friend is murdered, a Washington, D....
9999                        120  ...  During the Sarikamis Battle, the Ottoman army ...
10000                The Terror  ...  A young officer in Napoleon's Army pursues a m...

[10000 rows x 10 columns]

In [9]:
df.describe()

               Year         Score  ...       Runtime      Revenue
count  10000.000000  10000.000000  ...  10000.000000  7473.000000
mean    1998.116200      6.627530  ...    108.696900    36.263402
std       18.249608      1.041204  ...     21.659929    60.882025
min     1915.000000      1.300000  ...     45.000000     0.000000
25%     1991.000000      6.000000  ...     94.000000     1.890000
50%     2004.000000      6.700000  ...    105.000000    15.090000
75%     2011.000000      7.400000  ...    118.000000    43.860000
max     2018.000000      9.600000  ...    450.000000   936.660000

[8 rows x 6 columns]

In [18]:
df.isnull().sum()

Title             0
Year              0
Score             0
Metascore      3219
Genre             0
Vote              0
Director          1
Runtime           0
Revenue        2527
Description       0
dtype: int64

In [17]:
def isnull_func(df):
  cols = []
  for col in df.columns:
    if df[col].isnull().sum() != 0:
      cols.append(col)
  return cols    
isnull_func(df)

['Metascore', 'Director', 'Revenue']

In [22]:
df.sort_values('Metascore', ascending= False).head(10)

                                 Title  ...                                        Description
Rank                                    ...
1473                         Pinocchio  ...  A living puppet, with the help of a cricket as...
818                Singin' in the Rain  ...  A silent film production company and cast make...
2177           The Night of the Hunter  ...  A religious fanatic marries a gullible widow w...
5605                   Army of Shadows  ...  An account of underground resistance fighters ...
718                          Moonlight  ...  A chronicle of the childhood, adolescence and ...
1802                     Touch of Evil  ...  A stark, perverse story of murder, kidnapping,...
1657  The Treasure of the Sierra Madre  ...  Fred Dobbs and Bob Curtin, two Americans searc...
488                      Seven Samurai  ...  A poor village under attack by bandits recruit...
1585                             Dumbo  ...  Ridiculed because of his enormous ears, a youn...
516                 North by Northwest  ...  A hapless New York advertising executive is mi...

[10 rows x 10 columns]

In [23]:
def mape(y_true, y_pred): 
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

In [24]:
mape(df['Score']*10, df['Metascore'])

nan

In [25]:
df['Metascore'].mean()

56.53413950744728

In [26]:
df['Metascore'].median()

57.0

In [27]:
df['Metascore'].fillna(df['Metascore'].median(), inplace = True)
mape(df['Score']*10, df['Metascore'])

20.38670383979397

In [28]:
from sklearn.metrics import mean_absolute_error

In [29]:
mean_absolute_error(df['Score']*10, df['Metascore'])

12.9122

## Самый популярный жанр

In [30]:
df['Genre'].value_counts()

Comedy, Drama, Romance     494
Drama                      482
Comedy, Drama              407
Drama, Romance             365
Comedy                     357
                          ...
War                          1
Drama, History, Sci-Fi       1
Comedy, Romance, Family      1
Musical, Drama, Romance      1
Drama, Fantasy, Sport        1
Name: Genre, Length: 486, dtype: int64

## Для самого популярного рассчитать - сборы и средний рейтинг

In [32]:
df[df['Genre'] == 'Comedy, Drama, Romance'].Revenue.sum()

9302.399999999998

### Создать класс

In [72]:
class genre_filter:

  def __init__(self, df): # прием df
    self.df = df

  def df_genres(self, genre_name):
     return self.df[self.df['Genre'] == genre_name].Revenue.sum()

  def top_directors(self, col, methods = 'sum'):
    temp = self.df[['Director', col]].groupby('Director')

    return temp.sum().sort_values(col, ascending = False).head(10) if methods == 'sum' \
                                                                   else  temp.count().sort_values(col, ascending = False).head(10) 


data = genre_filter(df)

In [73]:
data.top_directors('Revenue', 'sum')

                   Revenue
Director
Steven Spielberg   4502.56
Michael Bay        2326.33
Peter Jackson      2134.38
Ron Howard         2101.40
Robert Zemeckis    2075.91
Christopher Nolan  2004.86
James Cameron      1948.98
Clint Eastwood     1846.95
Tim Burton         1839.64
Chris Columbus     1744.76

In [61]:
a = max