In [2]:
import pandas as pd

In [3]:
path = 'drive/MyDrive/DS/transactions/'

cl_cat = pd.read_csv(path+'client_categories.csv', sep=';')
cl_lst = pd.read_csv(path+'clients_last_2_fixed.csv', sep=';')
transac = pd.read_csv(path+'tr100k.csv', index_col = 0)
mcc = pd.read_excel(path+'MCC_last.xlsx')

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
transac.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 811488 entries, 10 to 9999992
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   purchdate  811488 non-null  object
 1   amount     811488 non-null  float64
 2   mcc        811488 non-null  int64
 3   mrchcity   811482 non-null  object
 4   mrchname   811488 non-null  object
 5   cnum       811488 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 43.3+ MB

In [5]:
cl_cat.head()

   category                               description
0        10           VIP/ Management recommendations
1        11  VIP/ Management recommendations (family)
2        17         Private Banking customers walk-in
3        18         Private banking customers payroll
4        20                   High income individuals

In [6]:
cl_lst.head()

    cnum_  categorycode gender  age     married_ residenttype
0  0CCCDO            81      M   32  not_married            R
1  0CCCFO            70      F   42  not_married            R
2  0CCCGC            50      F   33      married            R
3  0CCCGG            70      M   58  not_married            R
4  0CCCGO            60      M   38      married            R

In [7]:
transac.head()

              purchdate     amount  ...            mrchname    cnum
10  2019-12-03 00:00:00  4875320.0  ...           W7D7TEX-C  8CDCFN
12  2019-12-05 00:00:00  4218000.0  ...      E4997DO 7D8 IX  6DHXFG
18  2019-11-16 00:00:00  3231360.0  ...  XXX C KE4H C1JILJO  8EEZFO
19  2019-12-03 00:00:00  3091200.0  ...             C KEOH1  1HDFHG
20  2019-09-21 00:00:00  3041920.0  ...    KCKZ KW0 Z7HH1JO  7YFYXF

[5 rows x 6 columns]

In [8]:
mcc.head()

    mcc                  category
0   742                       Pet
1   763                     Other
2   780  Maintenance and building
3  1520  Maintenance and building
4  1711  Maintenance and building

In [9]:
transac.groupby('cnum').mean()['amount']

cnum
0XSGHF    13049.375000
0XSGNH     7028.543077
0XSGNO    10333.333333
0XSGSC    13050.000000
0XSGSO    46645.454545
              ...
8ELK27     6700.000000
8ELK28     9000.000000
8ELK29    11500.000000
8ELK2A     9397.333333
8ELK2C    15907.126154
Name: amount, Length: 81423, dtype: float64

 Помещаем в словарь все категории

In [16]:
mcc.head()

    mcc                  category
0   742                       Pet
1   763                     Other
2   780  Maintenance and building
3  1520  Maintenance and building
4  1711  Maintenance and building

In [19]:
mcc['category'].value_counts().index

Index(['Tourism', 'Other', 'Maintenance and building', 'Medical', 'Clothes',
       'Auto', 'Cultural life', 'Services', 'Legal and insurance',
       'Design, print', 'Active rest', 'Furniture, home', 'Supermarkets',
       'Soft', 'Kids', 'Sport', 'Money', 'Education',
       'Postal services, delivery', 'Discount', 'Digital goods', 'Payments',
       'Providers', 'Railway and sea transport', 'Parking&Fuel', 'Gift, hobby',
       'Restaurants', 'Local and autotransport', 'Beauty',
       'Alcohol and tobacco', 'Pet', 'Taxi', 'Fast Food', 'Video games',
       'Gambling'],
      dtype='object')

In [10]:
cats = {}
for cat in mcc['category'].value_counts().index:
    values = list(mcc.loc[mcc.category == cat]['mcc'].values)
    for val in values:
        cats[val] = cat

In [11]:
cats

{742: 'Pet',
 763: 'Other',
 780: 'Maintenance and building',
 1520: 'Maintenance and building',
 1711: 'Maintenance and building',
 1731: 'Maintenance and building',
 1740: 'Maintenance and building',
 1750: 'Maintenance and building',
 1761: 'Maintenance and building',
 1771: 'Maintenance and building',
 1799: 'Maintenance and building',
 2741: 'Design, print',
 2791: 'Other',
 2842: 'Maintenance and building',
 3000: 'Tourism',
 3001: 'Tourism',
 3002: 'Tourism',
 3003: 'Tourism',
 3004: 'Tourism',
 3005: 'Tourism',
 3006: 'Tourism',
 3007: 'Tourism',
 3008: 'Tourism',
 3009: 'Tourism',
 3010: 'Tourism',
 3011: 'Tourism',
 3012: 'Tourism',
 3013: 'Tourism',
 3014: 'Tourism',
 3015: 'Tourism',
 3016: 'Tourism',
 3017: 'Tourism',
 3018: 'Tourism',
 3019: 'Tourism',
 3020: 'Tourism',
 3021: 'Tourism',
 3022: 'Tourism',
 3023: 'Tourism',
 3024: 'Tourism',
 3025: 'Tourism',
 3026: 'Tourism',
 3027: 'Tourism',
 3028: 'Tourism',
 3029: 'Tourism',
 3030: 'Tourism',
 3031: 'Tourism',
 3032: 'Tourism',
 3033: 'Tourism',
 3034: 'Tourism',
 3035: 'Tourism',
 3036: 'Tourism',
 3037: 'Tourism',
 3038: 'Tourism',
 3039: 'Tourism',
 3040: 'Tourism',
 3041: 'Tourism',
 3042: 'Tourism',
 3043: 'Tourism',
 3044: 'Tourism',
 3045: 'Tourism',
 3046: 'Tourism',
 3047: 'Tourism',
 3048: 'Tourism',
 3049: 'Tourism',
 3050: 'Tourism',
 3051: 'Tourism',
 3052: 'Tourism',
 3053: 'Tourism',
 3054: 'Tourism',
 3055: 'Tourism',
 3056: 'Tourism',
 3057: 'Tourism',
 3058: 'Tourism',
 3059: 'Tourism',
 3060: 'Tourism',
 3061: 'Tourism',
 3062: 'Tourism',
 3063: 'Tourism',
 3064: 'Tourism',
 3065: 'Tourism',
 3066: 'Tourism',
 3067: 'Tourism',
 3068: 'Tourism',
 3071: 'Tourism',
 3072: 'Tourism',
 3074: 'Tourism',
 3075: 'Tourism',
 3076: 'Tourism',
 3077: 'Tourism',
 3078: 'Tourism',
 3079: 'Tourism',
 3080: 'Tourism',
 3081: 'Tourism',
 3082: 'Tourism',
 3083: 'Tourism',
 3084: 'Tourism',
 3085: 'Tourism',
 3086: 'Tourism',
 3087: 'Tourism',
 3088: 'Tourism',
 3089: 'Tourism',
 3090: 'Tourism',
 3091: 'Tourism',
 3092: 'Tourism',
 3093: 'Tourism',
 3094: 'Tourism',
 3095: 'Tourism',
 3096: 'Tourism',
 3097: 'Tourism',
 3098: 'Tourism',
 3099: 'Tourism',
 3100: 'Tourism',
 3101: 'Tourism',
 3102: 'Tourism',
 3103: 'Tourism',
 3104: 'Tourism',
 3105: 'Tourism',
 3106: 'Tourism',
 3107: 'Tourism',
 3109: 'Tourism',
 3110: 'Tourism',
 3111: 'Tourism',
 3112: 'Tourism',
 3113: 'Tourism',
 3114: 'Tourism',
 3115: 'Tourism',
 3116: 'Tourism',
 3117: 'Tourism',
 3118: 'Tourism',
 3119: 'Tourism',
 3120: 'Tourism',
 3121: 'Tourism',
 3122: 'Tourism',
 3123: 'Tourism',
 3124: 'Tourism',
 3125: 'Tourism',
 3126: 'Tourism',
 3127: 'Tourism',
 3128: 'Tourism',
 3129: 'Tourism',
 3130: 'Tourism',
 3131: 'Tourism',
 3132: 'Tourism',
 3133: 'Tourism',
 3134: 'Tourism',
 3135: 'Tourism',
 3136: 'Tourism',
 3137: 'Tourism',
 3138: 'Tourism',
 3139: 'Tourism',
 3140: 'Tourism',
 3141: 'Tourism',
 3142: 'Tourism',
 3143: 'Tourism',
 3144: 'Tourism',
 3145: 'Tourism',
 3146: 'Tourism',
 3147: 'Tourism',
 3148: 'Tourism',
 3150: 'Tourism',
 3151: 'Tourism',
 3152: 'Tourism',
 3153: 'Tourism',
 3154: 'Tourism',
 3155: 'Tourism',
 3156: 'Tourism',
 3157: 'Tourism',
 3158: 'Tourism',
 3159: 'Tourism',
 3160: 'Tourism',
 3161: 'Tourism',
 3162: 'Tourism',
 3163: 'Tourism',
 3164: 'Tourism',
 3165: 'Tourism',
 3166: 'Tourism',
 3167: 'Tourism',
 3168: 'Tourism',
 3169: 'Tourism',
 3170: 'Tourism',
 3171: 'Tourism',
 3172: 'Tourism',
 3173: 'Tourism',
 3174: 'Tourism',
 3175: 'Tourism',
 3176: 'Tourism',
 3177: 'Tourism',
 3178: 'Tourism',
 3179: 'Tourism',
 3180: 'Tourism',
 3181: 'Tourism',
 3182: 'Tourism',
 3183: 'Tourism',
 3184: 'Tourism',
 3185: 'Tourism',
 3186: 'Tourism',
 3187: 'Tourism',
 3188: 'Tourism',
 3189: 'Tourism',
 3190: 'Tourism',
 3191: 'Tourism',
 3192: 'Tourism',
 3193: 'Tourism',
 3194: 'Tourism',
 3195: 'Tourism',
 3196: 'Tourism',
 3197: 'Tourism',
 3198: 'Tourism',
 3199: 'Tourism',
 3200: 'Tourism',
 3201: 'Tourism',
 3202: 'Tourism',
 3203: 'Tourism',
 3204: 'Tourism',
 3205: 'Tourism',
 3206: 'Tourism',
 3207: 'Tourism',
 3208: 'Tourism',
 3209: 'Tourism',
 3210: 'Tourism',
 3211: 'Tourism',
 3212: 'Tourism',
 3213: 'Tourism',
 3214: 'Tourism',
 3215: 'Tourism',
 3216: 'Tourism',
 3217: 'Tourism',
 3218: 'Tourism',
 3219: 'Tourism',
 3220: 'Tourism',
 3221: 'Tourism',
 3222: 'Tourism',
 3223: 'Tourism',
 3224: 'Tourism',
 3225: 'Tourism',
 3226: 'Tourism',
 3227: 'Tourism',
 3228: 'Tourism',
 3229: 'Tourism',
 3230: 'Tourism',
 3231: 'Tourism',
 3232: 'Tourism',
 3233: 'Tourism',
 3234: 'Tourism',
 3235: 'Tourism',
 3236: 'Tourism',
 3237: 'Tourism',
 3238: 'Tourism',
 3239: 'Tourism',
 3240: 'Tourism',
 3241: 'Tourism',
 3242: 'Tourism',
 3243: 'Tourism',
 3244: 'Tourism',
 3245: 'Tourism',
 3246: 'Tourism',
 3247: 'Tourism',
 3248: 'Tourism',
 3249: 'Tourism',
 3250: 'Tourism',
 3251: 'Tourism',
 3252: 'Tourism',
 3253: 'Tourism',
 3254: 'Tourism',
 3256: 'Tourism',
 3257: 'Tourism',
 3258: 'Tourism',
 3260: 'Tourism',
 3261: 'Tourism',
 3265: 'Tourism',
 3266: 'Tourism',
 3267: 'Tourism',
 3268: 'Tourism',
 3270: 'Tourism',
 3274: 'Tourism',
 3275: 'Tourism',
 3276: 'Tourism',
 3277: 'Tourism',
 3278: 'Tourism',
 3279: 'Tourism',
 3280: 'Tourism',
 3282: 'Tourism',
 3283: 'Tourism',
 3284: 'Tourism',
 3285: 'Tourism',
 3286: 'Tourism',
 3287: 'Tourism',
 3288: 'Tourism',
 3289: 'Tourism',
 3290: 'Tourism',
 3291: 'Tourism',
 3292: 'Tourism',
 3293: 'Tourism',
 3294: 'Tourism',
 3295: 'Tourism',
 3296: 'Tourism',
 3297: 'Tourism',
 3298: 'Tourism',
 3299: 'Tourism',
 3301: 'Tourism',
 3351: 'Tourism',
 3352: 'Tourism',
 3353: 'Tourism',
 3354: 'Tourism',
 3355: 'Tourism',
 3356: 'Tourism',
 3357: 'Tourism',
 3358: 'Tourism',
 3359: 'Tourism',
 3360: 'Tourism',
 3361: 'Tourism',
 3362: 'Tourism',
 3363: 'Tourism',
 3364: 'Tourism',
 3365: 'Tourism',
 3366: 'Tourism',
 3367: 'Tourism',
 3368: 'Tourism',
 3369: 'Tourism',
 3370: 'Tourism',
 3371: 'Tourism',
 3372: 'Tourism',
 3373: 'Tourism',
 3374: 'Tourism',
 3375: 'Tourism',
 3376: 'Tourism',
 3377: 'Tourism',
 3378: 'Tourism',
 3379: 'Tourism',
 3380: 'Tourism',
 3381: 'Tourism',
 3382: 'Tourism',
 3383: 'Tourism',
 3384: 'Tourism',
 3385: 'Tourism',
 3386: 'Tourism',
 3387: 'Tourism',
 3388: 'Tourism',
 3389: 'Tourism',
 3390: 'Tourism',
 3391: 'Tourism',
 3392: 'Tourism',
 3393: 'Tourism',
 3394: 'Tourism',
 3395: 'Tourism',
 3396: 'Tourism',
 3397: 'Tourism',
 3398: 'Tourism',
 3399: 'Tourism',
 3400: 'Tourism',
 3401: 'Tourism',
 3402: 'Tourism',
 3403: 'Tourism',
 3404: 'Tourism',
 3405: 'Tourism',
 3406: 'Tourism',
 3407: 'Tourism',
 3408: 'Tourism',
 3409: 'Tourism',
 3410: 'Tourism',
 3411: 'Tourism',
 3412: 'Tourism',
 3413: 'Tourism',
 3414: 'Tourism',
 3415: 'Tourism',
 3416: 'Tourism',
 3417: 'Tourism',
 3418: 'Tourism',
 3419: 'Tourism',
 3420: 'Tourism',
 3421: 'Tourism',
 3422: 'Tourism',
 3423: 'Tourism',
 3424: 'Tourism',
 3425: 'Tourism',
 3426: 'Tourism',
 3427: 'Tourism',
 3428: 'Tourism',
 3429: 'Tourism',
 3430: 'Tourism',
 3431: 'Tourism',
 3432: 'Tourism',
 3433: 'Tourism',
 3434: 'Tourism',
 3435: 'Tourism',
 3436: 'Tourism',
 3437: 'Tourism',
 3438: 'Tourism',
 3439: 'Tourism',
 3440: 'Tourism',
 3501: 'Tourism',
 3502: 'Tourism',
 3503: 'Tourism',
 3504: 'Tourism',
 3505: 'Tourism',
 3506: 'Tourism',
 3507: 'Tourism',
 3508: 'Tourism',
 3509: 'Tourism',
 3510: 'Tourism',
 3511: 'Tourism',
 3512: 'Tourism',
 3513: 'Tourism',
 3514: 'Tourism',
 3515: 'Tourism',
 3516: 'Tourism',
 3517: 'Tourism',
 3518: 'Tourism',
 3519: 'Tourism',
 3520: 'Tourism',
 3521: 'Tourism',
 3522: 'Tourism',
 3523: 'Tourism',
 3524: 'Tourism',
 3525: 'Tourism',
 3526: 'Tourism',
 3527: 'Tourism',
 3528: 'Tourism',
 3529: 'Tourism',
 3530: 'Tourism',
 3531: 'Tourism',
 3532: 'Tourism',
 3533: 'Tourism',
 3534: 'Tourism',
 3535: 'Tourism',
 3536: 'Tourism',
 3537: 'Tourism',
 3538: 'Tourism',
 3539: 'Tourism',
 3540: 'Tourism',
 3541: 'Tourism',
 3542: 'Tourism',
 3543: 'Tourism',
 3544: 'Tourism',
 3545: 'Tourism',
 3546: 'Tourism',
 3547: 'Tourism',
 3548: 'Tourism',
 3549: 'Tourism',
 3550: 'Tourism',
 3551: 'Tourism',
 3552: 'Tourism',
 3553: 'Tourism',
 3554: 'Tourism',
 3555: 'Tourism',
 3556: 'Tourism',
 3557: 'Tourism',
 3558: 'Tourism',
 3559: 'Tourism',
 3560: 'Tourism',
 3561: 'Tourism',
 3562: 'Tourism',
 3563: 'Tourism',
 3564: 'Tourism',
 3565: 'Tourism',
 3566: 'Tourism',
 3567: 'Tourism',
 3568: 'Tourism',
 3569: 'Tourism',
 3570: 'Tourism',
 3571: 'Tourism',
 3572: 'Tourism',
 3573: 'Tourism',
 3574: 'Tourism',
 3575: 'Tourism',
 3576: 'Tourism',
 3577: 'Tourism',
 3578: 'Tourism',
 3579: 'Tourism',
 3580: 'Tourism',
 3581: 'Tourism',
 3582: 'Tourism',
 3583: 'Tourism',
 3584: 'Tourism',
 3585: 'Tourism',
 3586: 'Tourism',
 3587: 'Tourism',
 3588: 'Tourism',
 3589: 'Tourism',
 3590: 'Tourism',
 3591: 'Tourism',
 3592: 'Tourism',
 3593: 'Tourism',
 3594: 'Tourism',
 3595: 'Tourism',
 3596: 'Tourism',
 3597: 'Tourism',
 3598: 'Tourism',
 3599: 'Tourism',
 3600: 'Tourism',
 3601: 'Tourism',
 3602: 'Tourism',
 3603: 'Tourism',
 3604: 'Tourism',
 3605: 'Tourism',
 3606: 'Tourism',
 3607: 'Tourism',
 3608: 'Tourism',
 3609: 'Tourism',
 3610: 'Tourism',
 3611: 'Tourism',
 3612: 'Tourism',
 3613: 'Tourism',
 3614: 'Tourism',
 3615: 'Tourism',
 3616: 'Tourism',
 3617: 'Tourism',
 3618: 'Tourism',
 3619: 'Tourism',
 3620: 'Tourism',
 3622: 'Tourism',
 3623: 'Tourism',
 3624: 'Tourism',
 3625: 'Tourism',
 3626: 'Tourism',
 3627: 'Tourism',
 3628: 'Tourism',
 3629: 'Tourism',
 3630: 'Tourism',
 3631: 'Tourism',
 3632: 'Tourism',
 3633: 'Tourism',
 3634: 'Tourism',
 3635: 'Tourism',
 3636: 'Tourism',
 3637: 'Tourism',
 3638: 'Tourism',
 3639: 'Tourism',
 3640: 'Tourism',
 3641: 'Tourism',
 3642: 'Tourism',
 3643: 'Tourism',
 3644: 'Tourism',
 3645: 'Tourism',
 3646: 'Tourism',
 3647: 'Tourism',
 3648: 'Tourism',
 3649: 'Tourism',
 3650: 'Tourism',
 3651: 'Tourism',
 3652: 'Tourism',
 3653: 'Tourism',
 3654: 'Tourism',
 3655: 'Tourism',
 3656: 'Tourism',
 3657: 'Tourism',
 3658: 'Tourism',
 3659: 'Tourism',
 3660: 'Tourism',
 3661: 'Tourism',
 3662: 'Tourism',
 3663: 'Tourism',
 3664: 'Tourism',
 3665: 'Tourism',
 3666: 'Tourism',
 3667: 'Tourism',
 3668: 'Tourism',
 3669: 'Tourism',
 3670: 'Tourism',
 3671: 'Tourism',
 3672: 'Tourism',
 3673: 'Tourism',
 3674: 'Tourism',
 3675: 'Tourism',
 3676: 'Tourism',
 3677: 'Tourism',
 3678: 'Tourism',
 3679: 'Tourism',
 3680: 'Tourism',
 3681: 'Tourism',
 3682: 'Tourism',
 3683: 'Tourism',
 3684: 'Tourism',
 3685: 'Tourism',
 3686: 'Tourism',
 3687: 'Tourism',
 3688: 'Tourism',
 3689: 'Tourism',
 3690: 'Tourism',
 3691: 'Tourism',
 3692: 'Tourism',
 3693: 'Tourism',
 3694: 'Tourism',
 3695: 'Tourism',
 3696: 'Tourism',
 3697: 'Tourism',
 3698: 'Tourism',
 3699: 'Tourism',
 3700: 'Tourism',
 3701: 'Tourism',
 3702: 'Tourism',
 3703: 'Tourism',
 3704: 'Tourism',
 3705: 'Tourism',
 3706: 'Tourism',
 3707: 'Tourism',
 3708: 'Tourism',
 3709: 'Tourism',
 3710: 'Tourism',
 3711: 'Tourism',
 3712: 'Tourism',
 3713: 'Tourism',
 3714: 'Tourism',
 3715: 'Tourism',
 3716: 'Tourism',
 3717: 'Tourism',
 3718: 'Tourism',
 3719: 'Tourism',
 3720: 'Tourism',
 3721: 'Tourism',
 3722: 'Tourism',
 3730: 'Tourism',
 3741: 'Tourism',
 3750: 'Tourism',
 3765: 'Tourism',
 3778: 'Tourism',
 3779: 'Tourism',
 3787: 'Tourism',
 3793: 'Tourism',
 3796: 'Tourism',
 3797: 'Tourism',
 3798: 'Tourism',
 3799: 'Tourism',
 3802: 'Tourism',
 3808: 'Tourism',
 3812: 'Tourism',
 3813: 'Tourism',
 3814: 'Tourism',
 3815: 'Tourism',
 3818: 'Tourism',
 3819: 'Tourism',
 3820: 'Tourism',
 3821: 'Tourism',
 3822: 'Tourism',
 3823: 'Tourism',
 3824: 'Tourism',
 3825: 'Tourism',
 3826: 'Tourism',
 3827: 'Tourism',
 4011: 'Railway and sea transport',
 4111: 'Local and autotransport',
 4112: 'Railway and sea transport',
 4119: 'Medical',
 4121: 'Taxi',
 4131: 'Local and autotransport',
 4214: 'Postal services, delivery',
 4215: 'Postal services, delivery',
 4225: 'Other',
 4304: 'Tourism',
 4411: 'Railway and sea transport',
 4457: 'Active rest',
 4468: 'Active rest',
 4511: 'Tourism',
 4582: 'Tourism',
 4583: 'Tourism',
 4722: 'Tourism',
 4761: 'Tourism',
 4784: 'Auto',
 4789: 'Postal services, delivery',
 4812: 'Soft',
 4814: 'Providers',
 4816: 'Providers',
 4821: 'Providers',
 4829: 'Money',
 4899: 'Providers',
 4900: 'Payments',
 5013: 'Auto',
 5021: 'Maintenance and building',
 5039: 'Maintenance and building',
 5044: 'Maintenance and building',
 5045: 'Soft',
 5046: 'Other',
 5047: 'Other',
 5051: 'Maintenance and building',
 5065: 'Maintenance and building',
 5072: 'Maintenance and building',
 5074: 'Maintenance and building',
 5085: 'Maintenance and building',
 5094: 'Clothes',
 5099: 'Other',
 5111: 'Design, print',
 5122: 'Medical',
 5131: 'Clothes',
 5137: 'Clothes',
 5139: 'Clothes',
 5169: 'Other',
 5172: 'Other',
 5192: 'Cultural life',
 5193: 'Furniture, home',
 5198: 'Maintenance and building',
 5199: 'Other',
 5200: 'Furniture, home',
 5211: 'Maintenance and building',
 5231: 'Maintenance and building',
 5251: 'Maintenance and building',
 5261: 'Maintenance and building',
 5271: 'Auto',
 5300: 'Discount',
 5309: 'Tourism',
 5310: 'Discount',
 5311: 'Discount',
 5331: 'Supermarkets',
 5399: 'Other',
 5411: 'Supermarkets',
 5422: 'Supermarkets',
 5441: 'Supermarkets',
 5451: 'Supermarkets',
 5462: 'Supermarkets',
 5499: 'Supermarkets',
 5511: 'Auto',
 5521: 'Auto',
 5531: 'Auto',
 5532: 'Auto',
 5533: 'Auto',
 5541: 'Parking&Fuel',
 5542: 'Parking&Fuel',
 5551: 'Active rest',
 5561: 'Auto',
 5571: 'Auto',
 5592: 'Active rest',
 5598: 'Active rest',
 5599: 'Auto',
 5611: 'Clothes',
 5621: 'Clothes',
 5631: 'Clothes',
 5641: 'Kids',
 5651: 'Clothes',
 5655: 'Sport',
 5661: 'Clothes',
 5681: 'Clothes',
 5691: 'Clothes',
 5697: 'Services',
 5698: 'Clothes',
 5699: 'Clothes',
 5712: 'Furniture, home',
 5713: 'Maintenance and building',
 5714: 'Furniture, home',
 5718: 'Furniture, home',
 5719: 'Furniture, home',
 5722: 'Soft',
 5732: 'Soft',
 5733: 'Cultural life',
 5734: 'Soft',
 5735: 'Cultural life',
 5811: 'Supermarkets',
 5812: 'Restaurants',
 5813: 'Restaurants',
 5814: 'Fast Food',
 5815: 'Digital goods',
 5816: 'Digital goods',
 5817: 'Digital goods',
 5818: 'Digital goods',
 5912: 'Medical',
 5921: 'Alcohol and tobacco',
 5931: 'Clothes',
 5932: 'Furniture, home',
 5933: 'Discount',
 5935: 'Other',
 5937: 'Furniture, home',
 5940: 'Active rest',
 5941: 'Sport',
 5942: 'Cultural life',
 5943: 'Design, print',
 5944: 'Clothes',
 5945: 'Kids',
 5946: 'Cultural life',
 5947: 'Gift, hobby',
 5948: 'Clothes',
 5949: 'Clothes',
 5950: 'Furniture, home',
 5960: 'Legal and insurance',
 5961: 'Postal services, delivery',
 5962: 'Tourism',
 5963: 'Other',
 5964: 'Other',
 5965: 'Other',
 5966: 'Other',
 5967: 'Other',
 5968: 'Cultural life',
 5969: 'Other',
 5970: 'Gift, hobby',
 5971: 'Cultural life',
 5972: 'Cultural life',
 5973: 'Other',
 5974: 'Design, print',
 5975: 'Medical',
 5976: 'Medical',
 5977: 'Beauty',
 5978: 'Soft',
 5983: 'Maintenance and building',
 5992: 'Gift, hobby',
 5993: 'Alcohol and tobacco',
 5994: 'Cultural life',
 5995: 'Pet',
 5996: 'Active rest',
 5997: 'Soft',
 5998: 'Active rest',
 5999: 'Other',
 6010: 'Money',
 6011: 'Money',
 6012: 'Other',
 6051: 'Money',
 6211: 'Legal and insurance',
 6300: 'Legal and insurance',
 6381: 'Legal and insurance',
 6399: 'Legal and insurance',
 6513: 'Legal and insurance',
 6538: 'Money',
 6540: 'Money',
 6611: 'Other',
 6760: 'Other',
 7011: 'Tourism',
 7012: 'Tourism',
 7032: 'Kids',
 7033: 'Tourism',
 7210: 'Services',
 7211: 'Services',
 7216: 'Services',
 7217: 'Services',
 7221: 'Design, print',
 7230: 'Beauty',
 7251: 'Services',
 7261: 'Other',
 7273: 'Other',
 7276: 'Legal and insurance',
 7277: 'Legal and insurance',
 7278: 'Other',
 7280: 'Medical',
 7295: 'Kids',
 7296: 'Clothes',
 7297: 'Medical',
 7298: 'Medical',
 7299: 'Other',
 7311: 'Design, print',
 7321: 'Legal and insurance',
 7332: 'Design, print',
 7333: 'Design, print',
 7338: 'Design, print',
 7339: 'Other',
 7341: 'Services',
 7342: 'Services',
 7349: 'Services',
 7361: 'Legal and insurance',
 7372: 'Design, print',
 7375: 'Other',
 7379: 'Services',
 7392: 'Legal and insurance',
 7393: 'Legal and insurance',
 7394: 'Other',
 7395: 'Design, print',
 7399: 'Other',
 7511: 'Tourism',
 7512: 'Tourism',
 7513: 'Tourism',
 7519: 'Tourism',
 7523: 'Parking&Fuel',
 7531: 'Auto',
 7534: 'Auto',
 7535: 'Auto',
 7538: 'Auto',
 7542: 'Auto',
 7549: 'Auto',
 7622: 'Services',
 7623: 'Services',
 7629: 'Services',
 7631: 'Services',
 7641: 'Services',
 7692: 'Maintenance and building',
 7699: 'Maintenance and building',
 7829: 'Other',
 7832: 'Cultural life',
 7841: 'Cultural life',
 7911: 'Sport',
 7922: 'Cultural life',
 7929: 'Cultural life',
 7932: 'Active rest',
 7933: 'Active rest',
 7941: 'Sport',
 7991: 'Cultural life',
 7992: 'Active rest',
 7993: 'Other',
 7994: 'Video games',
 7995: 'Gambling',
 7996: 'Cultural life',
 7997: 'Sport',
 7998: 'Sport',
 7999: 'Tourism',
 8011: 'Medical',
 8021: 'Medical',
 8031: 'Medical',
 8041: 'Medical',
 8042: 'Medical',
 8043: 'Medical',
 8044: 'Medical',
 8049: 'Medical',
 8050: 'Medical',
 8062: 'Medical',
 8071: 'Medical',
 8099: 'Medical',
 8111: 'Legal and insurance',
 8211: 'Kids',
 8220: 'Education',
 8241: 'Education',
 8244: 'Education',
 8249: 'Education',
 8299: 'Education',
 8351: 'Kids',
 8398: 'Other',
 8641: 'Other',
 8651: 'Other',
 8661: 'Other',
 8675: 'Auto',
 8699: 'Other',
 8734: 'Other',
 8911: 'Maintenance and building',
 8931: 'Legal and insurance',
 8999: 'Other',
 9211: 'Payments',
 9222: 'Payments',
 9223: 'Other',
 9311: 'Payments',
 9399: 'Other',
 9401: 'Other',
 9402: 'Postal services, delivery',
 9411: 'Other'}

In [12]:
mcc_list = transac['mcc'].unique()
mcc_list

array([5511, 5944, 5732, 5399, 5948, 8299, 8099, 9311, 5533, 7011, 5411,
       6300, 5712, 4511, 5813, 5812, 5611, 3011, 5621, 3509, 5691, 5039,
       9399, 5521, 8999, 5311, 5699, 4722, 5719, 6538, 5681, 5999, 5651,
       8211, 5200, 7399, 6011, 6012, 6010, 9222, 8011, 7298, 7299, 3721,
       5074, 3026, 5963, 5814, 6051, 4900, 5722, 5949, 3136, 5941, 5251,
       3047, 8220, 5811, 5977, 3010, 3032, 8021, 4215, 5993, 5331, 6211,
       5065, 5211, 3640, 3082, 5697, 1520, 5921, 3034, 3042, 5960, 5714,
       7997, 3005, 4214, 6513, 5661, 7311, 5045, 7999, 8062, 5499, 5047,
       7941, 7538, 4812, 8071, 3543, 7230, 7512, 7911, 8111, 5571, 7995,
       5713, 5231, 5996, 5198, 5309, 5734, 5541, 1750, 3261, 5946, 5051,
       5599, 5655, 5942, 8042, 5947, 5733, 7922, 5912, 5300, 1799, 5992,
       3007, 5950, 5932, 5940, 5641, 1711, 3035, 3710, 7395, 3501, 3355,
       5945, 8249, 7261, 7278, 7933, 5735, 4789, 4112, 8043, 3533, 5261,
       5631, 4816, 3077, 5094, 7531, 5021, 7699, 8244, 7991, 5997, 6540,
       5969, 5122, 8031, 9402, 5099, 3750, 8050, 8351, 7631, 5970, 3553,
       5013, 8699, 5532, 5310, 3206, 3604, 3634, 5137, 3008, 3357, 7392,
       7372, 5131, 7032, 5943, 5995, 4411, 3015, 3512, 3301, 5978, 3000,
       5964, 5975, 7297, 4468, 3013, 3183, 5933, 5976, 3182, 3642, 3502,
       3040, 4814, 7832, 8398, 7994, 7523, 3294, 7216, 7542, 7629,  780,
       3526, 4225, 3001, 5931, 3504, 3530, 5816,  742, 4121, 1731, 3692,
       3649, 4119, 3075, 5139, 3690, 3051, 3551, 7622, 7393, 7296, 8241,
       3586, 5046, 1761, 5937, 3381, 5072, 7641, 5718, 5971, 7221, 3741,
       8931, 3217, 5965, 7929, 4582, 3655, 7210, 7996, 9211, 7379, 5422,
       2741, 7534, 3665, 3813, 5441, 3503, 7375, 3246, 5085, 3389, 3048,
       7349, 3068, 4111, 4131, 5973, 5817, 4899, 5994, 7277, 5815, 5192,
       5818, 3016,  763, 5551, 5169, 8641, 4784, 7829, 5451, 3778, 5044,
       4829, 8911, 7012, 7394, 5698, 5193, 2842, 7623, 4011, 3779, 7338,
       7535, 7211, 5972, 8049, 7217, 7251, 5111, 5462, 3579, 7273, 5199,
       8734, 5983, 9223, 5968, 5561, 7361, 7992, 8661, 1740, 7998, 3668,
       7321, 5967, 7932, 3351, 7333, 5542, 3366, 7841, 7993, 7276, 3020])

In [13]:
mcc['category'].unique()

array(['Pet', 'Other', 'Maintenance and building', 'Design, print',
       'Tourism', 'Railway and sea transport', 'Local and autotransport',
       'Medical', 'Taxi', 'Postal services, delivery', 'Active rest',
       'Auto', 'Soft', 'Providers', 'Money', 'Payments', 'Clothes',
       'Cultural life', 'Furniture, home', 'Discount', 'Supermarkets',
       'Parking&Fuel', 'Kids', 'Sport', 'Services', 'Restaurants',
       'Fast Food', 'Digital goods', 'Alcohol and tobacco', 'Gift, hobby',
       'Legal and insurance', 'Beauty', 'Video games', 'Gambling',
       'Education'], dtype=object)

In [14]:
import numpy as np

for cat_num in mcc_list:
    print(cat_num)
    cat = cats[cat_num]
    transac.loc[transac.mcc == cat_num, 'mcc'] = cat

5511
5944
5732
5399
5948
8299
8099
9311
5533
7011
5411
6300
5712
4511
5813
5812
5611
3011
5621
3509
5691
5039
9399
5521
8999
5311
5699
4722
5719
6538
5681
5999
5651
8211
5200
7399
6011
6012
6010
9222
8011
7298
7299
3721
5074
3026
5963
5814
6051
4900
5722
5949
3136
5941
5251
3047
8220
5811
5977
3010
3032
8021
4215
5993
5331
6211
5065
5211
3640
3082
5697
1520
5921
3034
3042
5960
5714
7997
3005
4214
6513
5661
7311
5045
7999
8062
5499
5047
7941
7538
4812
8071
3543
7230
7512
7911
8111
5571
7995
5713
5231
5996
5198
5309
5734
5541
1750
3261
5946
5051
5599
5655
5942
8042
5947
5733
7922
5912
5300
1799
5992
3007
5950
5932
5940
5641
1711
3035
3710
7395
3501
3355
5945
8249
7261
7278
7933
5735
4789
4112
8043
3533
5261
5631
4816
3077
5094
7531
5021
7699
8244
7991
5997
6540
5969
5122
8031
9402
5099
3750
8050
8351
7631
5970
3553
5013
8699
5532
5310
3206
3604
3634
5137
3008
3357
7392
7372
5131
7032
5943
5995
4411
3015
3512
3301
5978
3000
5964
5975
7297
4468
3013
3183
5933
5976
3182
3642
3502
3040
4814
7832
8398
7994
7523
3294
7216
7542
7629
780
3526
4225
3001
5931
3504
3530
5816
742
4121
1731
3692
3649
4119
3075
5139
3690
3051
3551
7622
7393
7296
8241
3586
5046
1761
5937
3381
5072
7641
5718
5971
7221
3741
8931
3217
5965
7929
4582
3655
7210
7996
9211
7379
5422
2741
7534
3665
3813
5441
3503
7375
3246
5085
3389
3048
7349
3068
4111
4131
5973
5817
4899
5994
7277
5815
5192
5818
3016
763
5551
5169
8641
4784
7829
5451
3778
5044
4829
8911
7012
7394
5698
5193
2842
7623
4011
3779
7338
7535
7211
5972
8049
7217
7251
5111
5462
3579
7273
5199
8734
5983
9223
5968
5561
7361
7992
8661
1740
7998
3668
7321
5967
7932
3351
7333
5542
3366
7841
7993
7276
3020

In [15]:
transac.head()

              purchdate     amount  ...            mrchname    cnum
10  2019-12-03 00:00:00  4875320.0  ...           W7D7TEX-C  8CDCFN
12  2019-12-05 00:00:00  4218000.0  ...      E4997DO 7D8 IX  6DHXFG
18  2019-11-16 00:00:00  3231360.0  ...  XXX C KE4H C1JILJO  8EEZFO
19  2019-12-03 00:00:00  3091200.0  ...             C KEOH1  1HDFHG
20  2019-09-21 00:00:00  3041920.0  ...    KCKZ KW0 Z7HH1JO  7YFYXF

[5 rows x 6 columns]

### В n-месяце m-user потратил на определенную MCC $x

In [38]:
transac.purchdate = pd.to_datetime(transac['purchdate'])
transac.groupby([pd.Grouper(level='purchdate', freq='M'), 
            pd.Grouper(level='mcc'), 
            pd.Grouper(level='cnum')]).sum()

ValueError: ignored

In [39]:
transac

         purchdate     amount  ...                  mrchname    cnum
10      2019-12-03  4875320.0  ...                 W7D7TEX-C  8CDCFN
12      2019-12-05  4218000.0  ...            E4997DO 7D8 IX  6DHXFG
18      2019-11-16  3231360.0  ...        XXX C KE4H C1JILJO  8EEZFO
19      2019-12-03  3091200.0  ...                   C KEOH1  1HDFHG
20      2019-09-21  3041920.0  ...          KCKZ KW0 Z7HH1JO  7YFYXF
...            ...        ...  ...                       ...     ...
9999963 2019-11-07     4000.0  ...  B GV-H1E4O7 X3EO70JO7 KR  2FGXNX
9999973 2019-10-18     4000.0  ...             J07 7EC QBVVM  2XDGNF
9999974 2019-09-27     4000.0  ...             J07 7EC QBVVM  2XDGNF
9999977 2019-10-08     4000.0  ...         IBI J-XDH4D1 T4K7  2DYGDN
9999992 2019-11-26     4000.0  ...              7EC MVM6PGBV  2DHGSS

[811488 rows x 6 columns]

In [40]:
transac1 = transac.copy()

In [42]:
col = transac1['mcc'].unique()
for name in col:
  transac1[name] = 0
  transac1[name] = transac1.loc[transac1.mcc == name]['amount']

In [45]:
transac1.set_index('purchdate', inplace = True)

KeyError: ignored

In [48]:
transac1.fillna(0, inplace = True)
transac1.resample('M').sum()

                  amount         Auto  ...       Taxi  Local and autotransport
purchdate                              ...
2019-09-30  2.136946e+09  23886645.17  ...  317503.05                582457.20
2019-10-31  5.533680e+09  67928699.46  ...  781461.06               1330749.83
2019-11-30  5.540616e+09  65387405.66  ...  723188.15               1299708.59
2019-12-31  3.767313e+09  38442601.12  ...  346909.63                849253.51

[4 rows x 36 columns]

In [52]:
transac1.groupby(['purchdate', 'cnum']).sum()

                     amount  Auto  ...  Taxi  Local and autotransport
purchdate  cnum                    ...
2019-09-10 4DOOOD   17817.6   0.0  ...   0.0                      0.0
           7SFXDX   15640.0   0.0  ...   0.0                      0.0
           8EEJ4L   18300.0   0.0  ...   0.0                      0.0
2019-09-11 1DYGXN   39680.0   0.0  ...   0.0                      0.0
           1GSSDC    9809.0   0.0  ...   0.0                      0.0
...                     ...   ...  ...   ...                      ...
2019-12-20 8ELJQN    8000.0   0.0  ...   0.0                      0.0
           8ELJQX   17730.0   0.0  ...   0.0                      0.0
           8ELJUV  255000.0   0.0  ...   0.0                      0.0
           8ELK04    4715.0   0.0  ...   0.0                      0.0
           8ELK11    5000.0   0.0  ...   0.0                      0.0

[626436 rows x 36 columns]

In [57]:
transacts =  transac1.groupby('cnum').sum()
transacts.drop('amount', axis = 1, inplace = True)
transacts

        Auto  Clothes  Soft  ...  Digital goods  Taxi  Local and autotransport
cnum                         ...
0XSGHF   0.0     0.00   0.0  ...            0.0   0.0                      0.0
0XSGNH   0.0     0.00   0.0  ...            0.0   0.0                      0.0
0XSGNO   0.0     0.00   0.0  ...            0.0   0.0                      0.0
0XSGSC   0.0     0.00   0.0  ...            0.0   0.0                      0.0
0XSGSO   0.0     0.00   0.0  ...            0.0   0.0                      0.0
...      ...      ...   ...  ...            ...   ...                      ...
8ELK27   0.0     0.00   0.0  ...            0.0   0.0                      0.0
8ELK28   0.0     0.00   0.0  ...            0.0   0.0                      0.0
8ELK29   0.0     0.00   0.0  ...            0.0   0.0                      0.0
8ELK2A   0.0     0.00   0.0  ...            0.0   0.0                      0.0
8ELK2C   0.0  6345.28   0.0  ...            0.0   0.0                      0.0

[81423 rows x 35 columns]

In [67]:
buys_dict = {}
for i in range(len(transacts)):
  a = list(transacts.iloc[i])
  b = max(a)
  c = a.index(b)
  buys_dict[i] = c

In [70]:
#transacts.iloc[0].max()

In [69]:
#a = list(transacts.iloc[0])
#a

In [68]:
##b = max(a)
#a.index(b)

In [71]:
buys_dict

{0: 3,
 1: 14,
 2: 3,
 3: 3,
 4: 14,
 5: 3,
 6: 3,
 7: 14,
 8: 14,
 9: 14,
 10: 3,
 11: 14,
 12: 10,
 13: 14,
 14: 5,
 15: 3,
 16: 0,
 17: 14,
 18: 14,
 19: 14,
 20: 14,
 21: 14,
 22: 14,
 23: 14,
 24: 10,
 25: 3,
 26: 14,
 27: 14,
 28: 1,
 29: 14,
 30: 3,
 31: 14,
 32: 0,
 33: 3,
 34: 14,
 35: 0,
 36: 14,
 37: 14,
 38: 14,
 39: 14,
 40: 3,
 41: 14,
 42: 14,
 43: 10,
 44: 14,
 45: 14,
 46: 2,
 47: 14,
 48: 14,
 49: 14,
 50: 14,
 51: 28,
 52: 3,
 53: 14,
 54: 14,
 55: 3,
 56: 3,
 57: 14,
 58: 3,
 59: 14,
 60: 14,
 61: 14,
 62: 14,
 63: 3,
 64: 3,
 65: 14,
 66: 3,
 67: 3,
 68: 5,
 69: 14,
 70: 3,
 71: 3,
 72: 14,
 73: 14,
 74: 3,
 75: 14,
 76: 14,
 77: 14,
 78: 14,
 79: 14,
 80: 14,
 81: 14,
 82: 3,
 83: 14,
 84: 8,
 85: 14,
 86: 14,
 87: 14,
 88: 10,
 89: 14,
 90: 3,
 91: 14,
 92: 14,
 93: 3,
 94: 14,
 95: 3,
 96: 14,
 97: 7,
 98: 14,
 99: 26,
 100: 14,
 101: 5,
 102: 3,
 103: 3,
 104: 14,
 105: 8,
 106: 7,
 107: 14,
 108: 14,
 109: 7,
 110: 6,
 111: 8,
 112: 3,
 113: 14,
 114: 2,
 115: 14,
 116: 14,
 117: 2,
 118: 14,
 119: 0,
 120: 14,
 121: 14,
 122: 1,
 123: 14,
 124: 3,
 125: 14,
 126: 14,
 127: 3,
 128: 3,
 129: 14,
 130: 14,
 131: 3,
 132: 14,
 133: 14,
 134: 14,
 135: 14,
 136: 14,
 137: 14,
 138: 14,
 139: 3,
 140: 14,
 141: 14,
 142: 14,
 143: 14,
 144: 14,
 145: 14,
 146: 2,
 147: 14,
 148: 14,
 149: 14,
 150: 3,
 151: 14,
 152: 14,
 153: 3,
 154: 14,
 155: 14,
 156: 14,
 157: 3,
 158: 14,
 159: 14,
 160: 14,
 161: 2,
 162: 3,
 163: 14,
 164: 14,
 165: 14,
 166: 14,
 167: 14,
 168: 14,
 169: 3,
 170: 7,
 171: 3,
 172: 0,
 173: 3,
 174: 3,
 175: 14,
 176: 1,
 177: 10,
 178: 3,
 179: 3,
 180: 3,
 181: 14,
 182: 3,
 183: 9,
 184: 10,
 185: 7,
 186: 3,
 187: 18,
 188: 14,
 189: 14,
 190: 14,
 191: 14,
 192: 7,
 193: 2,
 194: 3,
 195: 14,
 196: 14,
 197: 1,
 198: 1,
 199: 0,
 200: 14,
 201: 3,
 202: 14,
 203: 3,
 204: 5,
 205: 14,
 206: 14,
 207: 3,
 208: 14,
 209: 3,
 210: 14,
 211: 7,
 212: 14,
 213: 14,
 214: 18,
 215: 14,
 216: 3,
 217: 3,
 218: 14,
 219: 14,
 220: 7,
 221: 14,
 222: 10,
 223: 0,
 224: 14,
 225: 14,
 226: 14,
 227: 3,
 228: 3,
 229: 3,
 230: 3,
 231: 14,
 232: 14,
 233: 21,
 234: 14,
 235: 14,
 236: 7,
 237: 14,
 238: 14,
 239: 28,
 240: 14,
 241: 6,
 242: 3,
 243: 14,
 244: 8,
 245: 14,
 246: 7,
 247: 14,
 248: 14,
 249: 10,
 250: 14,
 251: 17,
 252: 14,
 253: 14,
 254: 14,
 255: 14,
 256: 1,
 257: 1,
 258: 3,
 259: 14,
 260: 3,
 261: 17,
 262: 14,
 263: 7,
 264: 7,
 265: 14,
 266: 14,
 267: 3,
 268: 14,
 269: 9,
 270: 14,
 271: 8,
 272: 3,
 273: 14,
 274: 3,
 275: 14,
 276: 14,
 277: 14,
 278: 14,
 279: 14,
 280: 9,
 281: 14,
 282: 14,
 283: 1,
 284: 14,
 285: 2,
 286: 2,
 287: 1,
 288: 3,
 289: 14,
 290: 10,
 291: 3,
 292: 14,
 293: 14,
 294: 8,
 295: 2,
 296: 1,
 297: 14,
 298: 3,
 299: 14,
 300: 3,
 301: 14,
 302: 2,
 303: 14,
 304: 14,
 305: 14,
 306: 8,
 307: 14,
 308: 3,
 309: 14,
 310: 14,
 311: 14,
 312: 14,
 313: 14,
 314: 14,
 315: 3,
 316: 14,
 317: 7,
 318: 7,
 319: 3,
 320: 14,
 321: 3,
 322: 10,
 323: 14,
 324: 18,
 325: 3,
 326: 14,
 327: 1,
 328: 3,
 329: 14,
 330: 14,
 331: 14,
 332: 3,
 333: 14,
 334: 14,
 335: 14,
 336: 3,
 337: 14,
 338: 1,
 339: 14,
 340: 14,
 341: 3,
 342: 26,
 343: 19,
 344: 10,
 345: 14,
 346: 8,
 347: 14,
 348: 14,
 349: 14,
 350: 14,
 351: 14,
 352: 14,
 353: 14,
 354: 14,
 355: 3,
 356: 0,
 357: 14,
 358: 3,
 359: 3,
 360: 3,
 361: 14,
 362: 14,
 363: 14,
 364: 14,
 365: 3,
 366: 3,
 367: 3,
 368: 3,
 369: 14,
 370: 14,
 371: 14,
 372: 14,
 373: 14,
 374: 14,
 375: 10,
 376: 14,
 377: 14,
 378: 17,
 379: 0,
 380: 14,
 381: 14,
 382: 3,
 383: 14,
 384: 14,
 385: 0,
 386: 17,
 387: 14,
 388: 1,
 389: 8,
 390: 12,
 391: 14,
 392: 6,
 393: 14,
 394: 14,
 395: 3,
 396: 14,
 397: 3,
 398: 14,
 399: 14,
 400: 14,
 401: 3,
 402: 8,
 403: 12,
 404: 3,
 405: 14,
 406: 3,
 407: 0,
 408: 14,
 409: 26,
 410: 1,
 411: 2,
 412: 17,
 413: 14,
 414: 17,
 415: 14,
 416: 3,
 417: 14,
 418: 2,
 419: 3,
 420: 3,
 421: 14,
 422: 3,
 423: 14,
 424: 14,
 425: 14,
 426: 14,
 427: 3,
 428: 3,
 429: 14,
 430: 14,
 431: 3,
 432: 14,
 433: 3,
 434: 14,
 435: 12,
 436: 14,
 437: 14,
 438: 14,
 439: 17,
 440: 14,
 441: 3,
 442: 14,
 443: 3,
 444: 14,
 445: 3,
 446: 6,
 447: 3,
 448: 2,
 449: 15,
 450: 14,
 451: 14,
 452: 1,
 453: 3,
 454: 14,
 455: 3,
 456: 14,
 457: 3,
 458: 12,
 459: 14,
 460: 11,
 461: 14,
 462: 14,
 463: 14,
 464: 14,
 465: 14,
 466: 10,
 467: 8,
 468: 14,
 469: 14,
 470: 3,
 471: 14,
 472: 7,
 473: 14,
 474: 14,
 475: 3,
 476: 18,
 477: 1,
 478: 3,
 479: 14,
 480: 14,
 481: 1,
 482: 14,
 483: 3,
 484: 14,
 485: 14,
 486: 5,
 487: 14,
 488: 14,
 489: 14,
 490: 14,
 491: 14,
 492: 14,
 493: 14,
 494: 14,
 495: 14,
 496: 14,
 497: 14,
 498: 14,
 499: 14,
 500: 14,
 501: 14,
 502: 1,
 503: 14,
 504: 14,
 505: 14,
 506: 14,
 507: 2,
 508: 14,
 509: 14,
 510: 3,
 511: 14,
 512: 3,
 513: 3,
 514: 6,
 515: 3,
 516: 3,
 517: 8,
 518: 14,
 519: 14,
 520: 3,
 521: 14,
 522: 14,
 523: 14,
 524: 14,
 525: 17,
 526: 3,
 527: 3,
 528: 14,
 529: 14,
 530: 14,
 531: 14,
 532: 14,
 533: 3,
 534: 14,
 535: 14,
 536: 2,
 537: 0,
 538: 3,
 539: 14,
 540: 14,
 541: 3,
 542: 3,
 543: 14,
 544: 1,
 545: 14,
 546: 3,
 547: 10,
 548: 14,
 549: 14,
 550: 10,
 551: 3,
 552: 14,
 553: 14,
 554: 14,
 555: 3,
 556: 1,
 557: 14,
 558: 14,
 559: 3,
 560: 14,
 561: 3,
 562: 14,
 563: 1,
 564: 5,
 565: 14,
 566: 11,
 567: 14,
 568: 6,
 569: 7,
 570: 14,
 571: 3,
 572: 3,
 573: 6,
 574: 14,
 575: 6,
 576: 14,
 577: 3,
 578: 14,
 579: 1,
 580: 14,
 581: 14,
 582: 14,
 583: 14,
 584: 7,
 585: 14,
 586: 14,
 587: 7,
 588: 14,
 589: 8,
 590: 14,
 591: 30,
 592: 8,
 593: 14,
 594: 3,
 595: 14,
 596: 14,
 597: 14,
 598: 14,
 599: 2,
 600: 3,
 601: 14,
 602: 7,
 603: 18,
 604: 14,
 605: 34,
 606: 14,
 607: 3,
 608: 14,
 609: 10,
 610: 10,
 611: 14,
 612: 3,
 613: 14,
 614: 9,
 615: 7,
 616: 3,
 617: 14,
 618: 3,
 619: 1,
 620: 14,
 621: 3,
 622: 14,
 623: 3,
 624: 14,
 625: 12,
 626: 14,
 627: 14,
 628: 14,
 629: 1,
 630: 14,
 631: 3,
 632: 3,
 633: 14,
 634: 3,
 635: 3,
 636: 14,
 637: 6,
 638: 3,
 639: 18,
 640: 3,
 641: 14,
 642: 29,
 643: 3,
 644: 1,
 645: 8,
 646: 14,
 647: 14,
 648: 3,
 649: 3,
 650: 7,
 651: 0,
 652: 3,
 653: 14,
 654: 1,
 655: 3,
 656: 1,
 657: 3,
 658: 3,
 659: 12,
 660: 18,
 661: 14,
 662: 14,
 663: 14,
 664: 14,
 665: 14,
 666: 14,
 667: 3,
 668: 0,
 669: 14,
 670: 14,
 671: 14,
 672: 8,
 673: 14,
 674: 14,
 675: 3,
 676: 7,
 677: 3,
 678: 1,
 679: 2,
 680: 3,
 681: 14,
 682: 14,
 683: 14,
 684: 14,
 685: 14,
 686: 8,
 687: 14,
 688: 9,
 689: 14,
 690: 26,
 691: 14,
 692: 7,
 693: 3,
 694: 3,
 695: 8,
 696: 1,
 697: 3,
 698: 14,
 699: 9,
 700: 3,
 701: 14,
 702: 14,
 703: 3,
 704: 7,
 705: 6,
 706: 3,
 707: 14,
 708: 14,
 709: 14,
 710: 6,
 711: 14,
 712: 14,
 713: 3,
 714: 5,
 715: 14,
 716: 14,
 717: 14,
 718: 14,
 719: 14,
 720: 10,
 721: 14,
 722: 0,
 723: 14,
 724: 14,
 725: 14,
 726: 14,
 727: 1,
 728: 6,
 729: 3,
 730: 14,
 731: 14,
 732: 10,
 733: 14,
 734: 14,
 735: 3,
 736: 7,
 737: 8,
 738: 14,
 739: 14,
 740: 14,
 741: 14,
 742: 3,
 743: 14,
 744: 14,
 745: 3,
 746: 9,
 747: 14,
 748: 14,
 749: 7,
 750: 9,
 751: 14,
 752: 14,
 753: 5,
 754: 14,
 755: 9,
 756: 3,
 757: 14,
 758: 14,
 759: 3,
 760: 14,
 761: 28,
 762: 7,
 763: 1,
 764: 1,
 765: 17,
 766: 5,
 767: 3,
 768: 10,
 769: 7,
 770: 14,
 771: 17,
 772: 6,
 773: 14,
 774: 14,
 775: 3,
 776: 3,
 777: 3,
 778: 7,
 779: 3,
 780: 8,
 781: 3,
 782: 3,
 783: 1,
 784: 3,
 785: 1,
 786: 1,
 787: 14,
 788: 14,
 789: 14,
 790: 14,
 791: 14,
 792: 14,
 793: 1,
 794: 0,
 795: 7,
 796: 3,
 797: 3,
 798: 5,
 799: 3,
 800: 14,
 801: 3,
 802: 14,
 803: 8,
 804: 8,
 805: 3,
 806: 1,
 807: 14,
 808: 14,
 809: 14,
 810: 7,
 811: 15,
 812: 1,
 813: 7,
 814: 14,
 815: 14,
 816: 14,
 817: 3,
 818: 3,
 819: 14,
 820: 14,
 821: 3,
 822: 14,
 823: 14,
 824: 14,
 825: 14,
 826: 14,
 827: 1,
 828: 14,
 829: 14,
 830: 3,
 831: 3,
 832: 3,
 833: 10,
 834: 14,
 835: 6,
 836: 14,
 837: 8,
 838: 14,
 839: 14,
 840: 3,
 841: 14,
 842: 6,
 843: 0,
 844: 3,
 845: 14,
 846: 17,
 847: 3,
 848: 14,
 849: 3,
 850: 14,
 851: 10,
 852: 14,
 853: 14,
 854: 14,
 855: 26,
 856: 14,
 857: 14,
 858: 14,
 859: 14,
 860: 3,
 861: 3,
 862: 3,
 863: 14,
 864: 3,
 865: 14,
 866: 17,
 867: 14,
 868: 1,
 869: 14,
 870: 0,
 871: 1,
 872: 14,
 873: 9,
 874: 2,
 875: 25,
 876: 0,
 877: 3,
 878: 14,
 879: 14,
 880: 3,
 881: 14,
 882: 8,
 883: 14,
 884: 14,
 885: 3,
 886: 14,
 887: 5,
 888: 2,
 889: 14,
 890: 14,
 891: 1,
 892: 7,
 893: 14,
 894: 3,
 895: 14,
 896: 3,
 897: 14,
 898: 14,
 899: 14,
 900: 14,
 901: 14,
 902: 14,
 903: 5,
 904: 14,
 905: 22,
 906: 14,
 907: 3,
 908: 6,
 909: 1,
 910: 3,
 911: 14,
 912: 14,
 913: 3,
 914: 3,
 915: 3,
 916: 3,
 917: 14,
 918: 0,
 919: 1,
 920: 3,
 921: 14,
 922: 14,
 923: 14,
 924: 14,
 925: 14,
 926: 14,
 927: 14,
 928: 3,
 929: 1,
 930: 3,
 931: 14,
 932: 14,
 933: 26,
 934: 14,
 935: 14,
 936: 14,
 937: 14,
 938: 14,
 939: 1,
 940: 14,
 941: 3,
 942: 3,
 943: 14,
 944: 3,
 945: 14,
 946: 14,
 947: 14,
 948: 1,
 949: 3,
 950: 14,
 951: 14,
 952: 8,
 953: 14,
 954: 14,
 955: 14,
 956: 14,
 957: 14,
 958: 14,
 959: 14,
 960: 3,
 961: 14,
 962: 1,
 963: 3,
 964: 3,
 965: 14,
 966: 26,
 967: 14,
 968: 14,
 969: 14,
 970: 3,
 971: 14,
 972: 14,
 973: 1,
 974: 14,
 975: 3,
 976: 1,
 977: 14,
 978: 14,
 979: 5,
 980: 6,
 981: 3,
 982: 14,
 983: 3,
 984: 14,
 985: 3,
 986: 5,
 987: 2,
 988: 9,
 989: 14,
 990: 3,
 991: 3,
 992: 14,
 993: 3,
 994: 14,
 995: 0,
 996: 1,
 997: 2,
 998: 14,
 999: 3,
 ...}

In [76]:
transacts.columns[3]

'Other'

In [88]:
transacts['max_spent'] = 0
for i in range(len(transacts)):
  transacts.iloc[i, -1] = transacts.columns[buys_dict[i]]
transacts.head()

        Auto  Clothes  Soft  ...  Taxi  Local and autotransport  max_spent
cnum                         ...
0XSGHF   0.0      0.0   0.0  ...   0.0                      0.0      Other
0XSGNH   0.0      0.0   0.0  ...   0.0                      0.0      Money
0XSGNO   0.0      0.0   0.0  ...   0.0                      0.0      Other
0XSGSC   0.0      0.0   0.0  ...   0.0                      0.0      Other
0XSGSO   0.0      0.0   0.0  ...   0.0                      0.0      Money

[5 rows x 36 columns]

### ДЗ:
- Вывести ежемесячные траты на группы товаров для каждого пользователя. построить модель, который позволит по портрету пользователя и по его иной прокраске, которая будет определять группу товаров, на которую пользователь будет тратить деньги (не ежемесячно, а вообще)
- Почитать про Standard Scaler (масштабирование)
- Для преобразования max_spent в числа можно использовать Label Encoder, либо изменить код ( transacts.iloc[i, -1] = buys_dict )